# Ambientes virtuais
env/
venv/
.venv/

# Caches e artefatos de teste
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Pacotes, distribuição e build
build/
dist/
*.egg-info/

# Notebooks e configurações de IDEs
.ipynb_checkpoints/
.vscode/
.idea/

# Variáveis de ambiente e chaves sensíveis
.env